@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll; /* Aktifkan scroll di web */
}

@media screen and (max-width: 768px) {
  .lg\:text-center {
    text-align: center;
  }
  .lg\:w-52 {
    width: 100%;
  }
}
